/* variable aanmaken*/

:root {
  --main-accent-color: #1ed760;
  --main-lightdark-color: #d8d8d8;
  --main-lightpure-color: #fff;
  --main-darklight-color: #3d3d3d;
  --main-dark-color: #2c2c2c;
  --main-darkerdark-color: #202020;
}

.btn {
  border: solid thin var(--main-lightdark-color);
  color: var(--main-accent-color);
  height: 2.5rem;
  border-radius: 1.25rem;
}

.btn:hover {
  color: var(--main-lightdark-color);
}

.btn.solid {
  border: solid thin var(--main-accent-color);
  background-color: var(--main-accent-color);
  color: var(--main-lightdark-color);
}

.btn.solid:hover {
  border: solid thin var(--main-lightdark-color);
  color: var(--main-accent-color);
  background-color: var(--main-dark-color);
}

.btn.more {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--main-lightdark-color);
}

.btn:focus {
  box-shadow: none;
}

/* end variable*/

html {
  height: 100%;
}

body {
  background-color: yellow;
  font-family: 'Montserrat', sans-serif;
}

#container {
  background-color: aqua;
}

/* aside navigatie*/

aside {
  background-color: var(--main-darkerdark-color);
  color: var(--main-lightdark-color);
  padding-top: 1rem;
  z-index: 6001;
}

a {
  color: var(--main-lightdark-color);
}
aside h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

aside li {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  position: relative;
}

aside li>a {
  color: var(--main-lightdark-color);
  display: block;
}

aside li.active {
  border-left: solid 0.3rem var(--main-accent-color);
  left: -1rem;
  padding-left: 0.7rem;
}

aside li.active a {
  color: var(--main-lightpure-color);
}

aside li>a:hover {
  color: var(--main-lightpure-color);
  text-decoration: none;
}

/* end aside*/

main {
  background-color: honeydew;
}

/* main header*/

main>header {
  background-color: var(--main-dark-color);
  background: linear-gradient(to bottom, #7a7a7a 0%, #2c2c2c 100%);
  color: var(--main-lightdark-color);
  height: 50px;
}

main>header.schaduw {
  box-shadow: 0px 17px 20px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 6000;
}

main>header>div {
  margin-top: auto;
  margin-bottom: auto;
}

main>header form {
  display: inline;
}

main>header img {
  height: 2rem;
}

main>header a {
  color: var(--main-lightdark-color);
}

main>header a:hover {
  color: var(--main-lightpure-color);
}

/*end main header*/

/*main>section*/

#content {
  background-color: var(--main-dark-color);
  overflow: auto;
  height: calc(100% - 50px - 79px);
}

/* big header*/

#content>header {
  background-color: var(--main-dark-color);
  color: var(--main-lightdark-color);
}

/* end big header*/

/* scolled header */

#content.isscrolled div.scrolledsmall {
  display: block;
  position: absolute;
  left: 0px;
  top: 50px;
  z-index: 6004;
}

#content>div.scrolledsmall {
  background-color: var(--main-dark-color);
  display: none;
}

#content>div.scrolledsmall>div.row>div {
  margin-top: auto;
  margin-bottom: auto;
}

#content>div.scrolledsmall h1 {
  color: var(--main-lightdark-color);
}

/*end scrolled header*/

/* overzicht van "covers" of "moods"*/

#bevat article {
  background-color: var(--main-dark-color);
}

#bevat.catalogus {
  padding-top: 1rem;
  margin-bottom: 40px;
}

#bevat.catalogus article {
  padding-bottom: 0.75rem;
}

#bevat.catalogus article header {
  position: relative;
}

#bevat.catalogus article footer {
  background-color: var(--main-dark-color);
}

#bevat.catalogus article>div.infocard {
  color: var(--main-lightpure-color);
}

#bevat.catalogus article>div.infocard>h1 {
  font-size: 1rem;
  padding-top: 0.5rem;
  text-transform: capitalize;
  color: var(--main-lightpure-color);
}

#bevat.catalogus article>div.infocard>footer {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;
}

#bevat.catalogus article .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: ease 0.4s;
}

#bevat.catalogus article .overlay:hover {
  opacity: 1;
}

#bevat.catalogus article .overlay .ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

#bevat.catalogus article .overlay .ctrl .fa-play {
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#bevat.catalogus article .overlay .ctrl i {
  vertical-align: middle;
}

/* end overzicht van "covers" of "moods"*/

/* start footer */

footer {
  background-color: var(--main-dark-color);
  margin-top: 200px;
  z-index: 6001!important;
}

#nav_playing img {
  padding: 1rem;
}

#nav_playing .songtitle {
  color: var(--main-lightpure-color);
}

#nav_playing .artiest {
  color: var(--main-lightdark-color);
}

#nav_ctrl {
  color: var(--main-lightpure-color);
}

/* end footer*/

/* playbar*/

.playbar {
  width: 100%;
  height: 4px;
  background-color: hotpink;
  border-radius: 2px;
  position: relative;
}

.playbar>.currentposbar {
  height: 100%;
  width: 40%;
  background-color: var(--main-lightpure-color);
  border-radius: 2px;
  transition: ease 0.2s;
}

.playbar>.currentpos {
  height: 100%;
  width: 4px;
  border-radius: 2px;
  background-color: var(--main-darklight-color);
  position: absolute;
  top: 0px;
  left: 40%;
  transform: translate(-50%, 0);
  visibility: hidden;
  transition: ease 0.1s;
}

.playbar:hover>.currentpos {
  visibility: visible;
}

.playbar:hover>.currentposbar {
  background-color: var(--main-accent-color);
}

/*end playbar*/

/*start table view*/

.tabelview thead {text-transform: uppercase; font-size: 0.75rem; color:var(--main-lightpure-color)}
.tabelview thead i {font-size: 1rem}
.tabelview tbody{color:var(--main-lightpure-color)}
.tabelview tbody tr > td.play_status{text-align: center}
.tabelview tbody tr > td.play_status > i {    display: none;}
.tabelview tbody tr > td.play_status > i:hover {   transform: scale(1.5)}
.tabelview tbody tr.current {color: var(--main-accent-color)}
.tabelview tbody tr.current > td > i {color: var(--main-lightpure-color)}
.tabelview tbody tr.current > td.play_status > i.fa-play-circle {display: block}


.tabelview tbody tr:hover {background-color: var(--main-darklight-color)}
.tabelview tbody tr:hover > td.play_status > i.fa-play-circle{display:block;}

.tabelview tbody tr.current:hover > td.play_status > i.fa-pause-circle{display:inline; }
.tabelview tbody tr.current:hover > td.play_status > i.fa-play-circle{display:none;}
/*end table view*/